@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@200&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#newBook {
  margin: 2.313rem 5% 0;
}

.addBookH1 {
  height: 1.5rem;
  margin: 1.813rem 0 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

#addBook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
